// 5. Add additional custom code here
@import "../node_modules/bootstrap/scss/bootstrap";

$representative-color: #c3e2d4;

.publication{
  @extend .row;
  padding: 12px;
}

.representative-publication{
  @extend .publication;
  background-color: $representative-color;
}

.pub-img{
  @extend .col-md-3;
  @extend .col-sm-3;
  display: flex;
  align-items: center;
  
}

.thumbnail{
  //@extend .img-thumbnail;
  //@extend .img-fluid;
  //@extend .float-end;
  //@extend .d-block;
  width: 280px;
  //max-height: 250px;
}

.pub-details{
  @extend .col-md-9;
  @extend .col-sm-9;
}

.pub-hrefs{
    @extend .btn-toolbar;
}


.details-highlight{
    color: #e74444;
}

.href-btn{
  @extend .btn;
  @extend .btn-primary;
  @extend .mb-1;
  @extend .me-1;
}

.href-btn-invalid{
  @extend .btn-light;
  @extend .href-btn;
}

.href-link{
  color: #1900ff !important;
  text-decoration: none;
}

.href-paper-link{
  color: #1900ff !important;
  text-decoration: none;
  margin-right: 20px;
}